// DECLARING VARIABLES

// colors
$lapis-lazuli: #2a628f;
$dark-prussian: #13293d;
$prussian: #16324f;
$indigo: #18435a;
$white: #ffff;

// margin & padding

// shadows
$box-shadow-base: 0.2rem 0.2rem 0 $dark-prussian;
$box-shadow-map: 0.05rem -0.05rem 0 $indigo;

// font
$font-family-base: monospace;
$font-family-organic: arial;

$font-size-sm: 0.8rem;
$font-size-md: 0.9rem;
$font-size-lg: 1rem;
$font-size-xl: 1.1rem;

// border-radius
$border-radius-circle: 50%;

// transitions
$transition-base: 0.5s ease-out;
