// DECLARING VARIABLES

// colors
$lapis-lazuli: #2a628f;
$dark-prussian: #13293d;
$prussian: #16324f;
$indigo: #18435a;
$white: #ffff;

// margin & padding

// shadows

// font size

// border-radius
$border-radius-circle: 50%;
