#map-shaper {
  $size: 4rem;
  position: absolute;
  bottom: -6rem;
  transition: $transition-base;
  margin-left: calc(50% - 2rem);
  border: none;
  border-radius: $border-radius-circle;
  width: $size;
  height: $size;

  &.uncircle {
    border-radius: 0;
  }
}

.change-btn {
  padding: 0.5rem 1rem;
}
