@import "layouts/wrappers";
@import "layouts/banner";
@import "layouts/layout";

@import "components/buttons";
@import "components/nav";

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}